:root {
  /* fonts */
  --semibold-12: "Source Sans Pro";

  /* font sizes */
  --regular-9-size: 9px;
  --regular-10-size: 10px;
  --semibold-12-size: 12px;
  --semibold-14-size: 14px;
  --regular-16-size: 16px;
  --semibold-18-size: 18px;
  --bold-26-size: 26px;

  /* Colors */
  --dark-2: #1e252b;
  --dark-4: #2c353d;
  --dark-3: #262d34;
  --dark-5: #3b444c;
  --red-red: #ff4401;
  --secondary-color-secondary-4: #858ead;
  --secondary-color-background-2: #f7f7f7;
  --secondary-color-secondary-6: #f4f6f8;
  --secondary-color-secondary-3: #97989d;
  --red-red-20: #ffdacc;
  --red-red-80: #ff6934;
  --red-red-60: #ff8f67;
  --blue-blue-30: #c2d7f6;
  --secondary-color-secondary-5: #c5d0e6;
  --color-darkslateblue: #1f4988;
  --secondary-color-background: #fff;
  --yellow-yellow: #ea942c;
  --green-green-10: #e7faf4;
  --red-red-30: #ffc7b3;
  --purple-purple-black-80: #515ac6;
  --green-green-black-80: #0ba371;
  --blue-blue-80: #5d95e8;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 2px;
  --gap-2xs: 3px;
  --gap-xs: 4px;
  --gap-sm: 6px;
  --gap-md: 10px;
  --gap-lg: 14px;
  --gap-xl: 20px;
  --gap-2xl: 30px;

  /* Paddings */
  --padding-3xs: 2px;
  --padding-2xs: 4px;
  --padding-xs: 5px;
  --padding-sm: 6px;
  --padding-md: 8px;
  --padding-lg: 10px;
  --padding-xl: 20px;
  --padding-2xl: 25px;

  /* border radiuses */
  --br-xs: 4px;
  --br-sm: 6px;
  --br-md: 7px;
  --br-lg: 16px;
  --br-xl: 20px;



  --body-back-color: #f7f7f7;
  --header-back-color: #ffffff;
  --search-bar-color: #f4f6f8;
  --header-search-input-color: #858ead;
  --header-logo-dot-color: #1e252b;
  --main-font-color: #3F4354;
  --secondary-font-color: #2c353d;
  --tag-back-color: #F4F6F8;
  --setting-dropdown-back-color: #FFFFFF;
  --setting-label-color: #3F4354;
  --mode-switch-back-color: #f7f7f7;
  --sun--back-color: #ffffff;
  --moon--back-color: #ffffff;
  --item-hover-back: #F4F6F8;
  --tag-hover-back: #cdcdcd;
  --icon-back: #f4f6f8;
  --divider-color: #F4F6F8;
  --setting-effect-color: #97989D;
  --social-icon-color: #858EAD;
  --description-font-color: #858ead;
  --button-background-color: #f7f7f7;
  --sub-description-color: #858ead;
  --sharp-icon-color1: #EA942C;
  --sharp-icon-color2: #FF8F67;
  --sharp-icon-color3: #5D95E8;
  --sharp-icon-color4: #0BA371;
  --sharp-icon-color5: #515AC6;

  --sharp-icon-back-color1: #FDF4EA;
  --sharp-icon-back-color2: #FFECE6;
  --sharp-icon-back-color3: #EBF2FC;
  --sharp-icon-back-color4: #E7FAF4;
  --sharp-icon-back-color5: #F0F1FE;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  text-align: left;
  font-size: var(--regular-16-size);
  color:  var(--main-font-color);
  font-family: var(--semibold-12);
  background-color: var(--body-back-color);
}

:focus-visible {
  outline: none;
}

body[data-theme="dark"] {
  --body-back-color: #1e252b;
  --header-back-color: #262d34;
  --search-bar-color: #2c353d;
  --header-search-input-color: #858ead;
  --header-logo-dot-color: #f7f7f7;
  --main-font-color: #f7f7f7;
  --secondary-font-color: #c5d0e6;
  --tag-back-color: #2c353d;
  --setting-dropdown-back-color: #2c353d;
  --setting-label-color: #F7F7F7;
  --mode-switch-back-color: #262D34;
  --sun--back-color: #1E252B;
  --moon--back-color: #2C353D;
  --item-hover-back: #2c353d;
  --tag-hover-back: #3b444c;
  --icon-back: #2c353d;
  --divider-color: #3F4354;
  --setting-effect-color: #151A1E;
  --social-icon-color: #F4F6F8;
  --description-font-color: #97989D;
  --button-background-color: #2C353D;
  --sub-description-color: #97989d;

  --sharp-icon-back-color1: #5A4F43;
  --sharp-icon-back-color2: #473E3B;
  --sharp-icon-back-color3: #444F5F;
  --sharp-icon-back-color4: #335248;
  --sharp-icon-back-color5: #46475B;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.tagIconBack1 {
  border-radius: 4px;
  background-color: var(--sharp-icon-back-color1);
  font-weight: 600;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: var(--sharp-icon-color1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagIconBack2 {
  border-radius: 4px;
  background-color: var(--sharp-icon-back-color2);
  font-weight: 600;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: var(--sharp-icon-color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagIconBack3 {
  border-radius: 4px;
  background-color: var(--sharp-icon-back-color3);
  font-weight: 600;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: var(--sharp-icon-color3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagIconBack4 {
  border-radius: 4px;
  background-color: var(--sharp-icon-back-color4);
  font-weight: 600;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: var(--sharp-icon-color4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagIconBack5 {
  border-radius: 4px;
  background-color: var(--sharp-icon-back-color5);
  font-weight: 600;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: var(--sharp-icon-color5);
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  color: var(--header-search-input-color);
}

@keyframes loader-element {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader-element div {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid #c2c2c2;
  border-top-color: transparent;
  border-radius: 50%;
}

.loader-element div {
  animation: loader-element 1s linear infinite;
  top: 100px;
}

.demo {
  -webkit-filter: blur(5px) grayscale(100%);
  pointer-events: none;
}

.loader-element {
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;

  z-index: 999999 !important;
  position: absolute;
  top: 35vh;
  left: 50vw;
}