:root {
  /* fonts */
  --semibold-12: "Source Sans Pro";

  /* font sizes */
  --regular-9-size: 9px;
  --regular-10-size: 10px;
  --semibold-12-size: 12px;
  --semibold-14-size: 14px;
  --regular-16-size: 16px;
  --semibold-18-size: 18px;
  --bold-26-size: 26px;

  /* Colors */
  --dark-2: #1e252b;
  --dark-4: #2c353d;
  --dark-3: #262d34;
  --dark-5: #3b444c;
  --red-red: #ff4401;
  --secondary-color-secondary-4: #858ead;
  --secondary-color-background-2: #f7f7f7;
  --secondary-color-secondary-6: #f4f6f8;
  --secondary-color-secondary-3: #97989d;
  --red-red-20: #ffdacc;
  --red-red-80: #ff6934;
  --red-red-60: #ff8f67;
  --blue-blue-30: #c2d7f6;
  --secondary-color-secondary-5: #c5d0e6;
  --color-darkslateblue: #1f4988;
  --secondary-color-background: #fff;
  --yellow-yellow: #ea942c;
  --green-green-10: #e7faf4;
  --red-red-30: #ffc7b3;
  --purple-purple-black-80: #515ac6;
  --green-green-black-80: #0ba371;
  --blue-blue-80: #5d95e8;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 2px;
  --gap-2xs: 3px;
  --gap-xs: 4px;
  --gap-sm: 6px;
  --gap-md: 10px;
  --gap-lg: 14px;
  --gap-xl: 20px;
  --gap-2xl: 30px;

  /* Paddings */
  --padding-3xs: 2px;
  --padding-2xs: 4px;
  --padding-xs: 5px;
  --padding-sm: 6px;
  --padding-md: 8px;
  --padding-lg: 10px;
  --padding-xl: 20px;
  --padding-2xl: 25px;

  /* border radiuses */
  --br-xs: 4px;
  --br-sm: 6px;
  --br-md: 7px;
  --br-lg: 16px;
  --br-xl: 20px;



  --body-back-color: #E5E5E5;
  --header-back-color: #ffffff;
  --search-bar-color: #f4f6f8;
  --header-logo-dot-color: #1e252b;
  --main-font-color: #3F4354;
  --secondary-font-color: #2c353d;
  --tag-back-color: #F4F6F8;
  --setting-dropdown-back-color: #F4F6F8;
  --setting-label-color: #3F4354;
  --mode-switch-back-color: #cdcdcd;
  --sun--back-color: #ffffff;
  --moon--back-color: #ffffff;
  --item-hover-back: #F4F6F8;
  --tag-hover-back: #cdcdcd;
  --icon-back: #f4f6f8;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  text-align: left;
  font-size: var(--regular-16-size);
  color:  var(--main-font-color);
  font-family: var(--semibold-12);
  background-color: var(--body-back-color);
}

:focus-visible {
  outline: none;
}

body[data-theme="dark"] {
  --body-back-color: #1e252b;
  --header-back-color: #262d34;
  --search-bar-color: #2c353d;
  --header-logo-dot-color: #f7f7f7;
  --main-font-color: #ffffff;
  --secondary-font-color: #c5d0e6;
  --tag-back-color: #2c353d;
  --setting-dropdown-back-color: #2c353d;
  --setting-label-color: #F7F7F7;
  --mode-switch-back-color: #262D34;
  --sun--back-color: #1E252B;
  --moon--back-color: #2C353D;
  --item-hover-back: #2c353d;
  --tag-hover-back: #3b444c;
  --icon-back: #2c353d;
}